body {
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg,#a8edea,#fed6e3) ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Counter-container {
    background: white;
    padding: 40px 60px;
    border-radius: 16px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.1);
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

.count {
    font-size: 4rem;
    font-weight: bold;
    color: #28a745;
    margin-bottom: 30px;
}

button {
    font-size: 1.1rem;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.increase {
    background-color: #28a745;
    color: white;
}

.decrease {
    background-color: #dc3545;
    color: white;
}

.reset {
    background-color: #ffc107;
    color: black;
}

button:hover {
    opacity: 0.8;
}